@import "../../styles/base/variables";
@import "../../styles/utils/mixins";

.form {
  @include mq(tablet) {
    @include flex();
  }
}

.general {
  @include flex(column);

  @include mq(tablet) {
    @include flex();
  }
}

.label {
  @include font(20px, 24px);

  @include mq(mobile-only) {
    margin-bottom: 5px;
  }

  @include mq(tablet) {
    margin-right: 8px;
    @include font(24px);
  }
}

.input {
  padding: 10px;
  outline: none;
  border: 1px solid $clr-gray;
  border-radius: 2px;
  @include font(16px);
  color: $clr-accent;

  &::placeholder {
    color: $clr-gray;
  }

  @include mq(tablet) {
    height: 40px;
    @include font(20px);
  }
}

.btn {
  padding: 5px;
  border-radius: 4px;
  @include font(18px, 27px);

  @include mq(mobile-only) {
    margin: 10px auto 0;
  }

  @include mq(tablet) {
    margin-left: 10px;
    @include font(24px, 30px);
  }
}
