@import "../../styles/base/variables";
@import "../../styles/utils/mixins";

.general {
  @include flex(column);
}

.label {
  margin-bottom: 5px;
  @include font(20px, 24px);
}

.input {
  padding: 10px;
  outline: none;
  border: 1px solid $clr-gray;
  border-radius: 2px;
  @include font(16px);

  &::placeholder {
    color: $clr-gray;
  }
}

.btn {
  margin: 10px auto 0;
  padding: 5px;
  border-radius: 4px;
  @include font(16px, 20px);
  color: $clr-gray-dark;
  background-color: $clr-gray-light;
  box-shadow: $shadow-btn;
}
