@import "../../styles/base/variables";
@import "../../styles/utils/mixins";

.general {
  position: relative;
}

.head {
  margin-bottom: 20px;
  @include font(36px, 40px);
  text-align: center;
}

.link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  padding: 15px;
  @include font(24px, 24px, 600);
  color: $clr-accent;
  text-align: center;
  border: 1px solid $clr-gray;
  border-radius: 4px;
  background-color: $clr-low-opacity;

  @include mq(tablet) {
    top: 75px;
    bottom: unset;
  }
}
