@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

$clr-gray: #b1b5c2;
$clr-gray-light: #f5f7fa;
$clr-gray-dark: #242a3780;
$clr-gray-add: #e0e5eb;
$clr-gray-support: #898f9f;
$clr-accent: #e82a2a;

$clr-font-main: #242a37;

$clr-low-opacity: #a6abb933;

$shadow-btn: 0px 2px 4px #00000040;

$transition: 200ms ease-in-out;
$transition-slow: 500ms linear;

$font-main: "Vollkorn", serif;
